* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2";
}

html,
body.claro {
    background-color: rgb(255, 255, 255);
    /* Cor de fundo clara */
    overflow-x: hidden;
}

/* From Uiverse.io by shadowfax29 */
/* The switch - the box around the slider */
.switch {
    font-size: 15px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    /* Cor inicial para tema escuro */
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    right: 0.3em;
    /* Movendo para a direita */
    bottom: 0.3em;
    background-color: black;
    box-shadow: inset -9px 0px 1px 0px white;
    /* Efeito de meia-lua */
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: #2196F3;
    /* Cor para o modo claro */
}

.switch input:checked+.slider:before {
    background-color: yellow;
    box-shadow: none;
    transform: translateX(-1.5em);
    /* Movendo para a esquerda */
}



.s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 400px;
}

.claro .h21 {
    color: black;
    /* Cor do texto em tema claro */
    font-size: 30px;
    margin-bottom: 10px;
}

.claro .box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    /* Fundo da caixa em tema claro */
    border-radius: 5px;
    border: 1px solid rgb(109, 109, 109);
    padding: 50px;
    width: 600px;
}

.claro form {
    margin-left: 50px;
    flex-direction: column;
    width: 450px;
    padding: 30px;
}

.claro input {
    width: 400px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    outline: none;
    background-color: rgba(240, 240, 240, 0.8);
    /* Fundo dos inputs em tema claro */
    border: 2px solid rgb(200, 200, 200);
    /* Borda dos inputs em tema claro */
    color: black;
    /* Texto em inputs no tema claro */
    font-size: 16px;
    padding-left: 20px;
}

.claro .l1 {
    display: block;
    color: black;
    /* Cor da label em tema claro */
    margin-left: 8px;
    margin-bottom: 10px;
}

.claro input:hover {
    background-color: rgba(220, 220, 220, 0.8);
    transition: 0.3s ease;
}

.claro input:focus {
    border: 2px solid rgb(48, 138, 255);
    transition: 0.3s ease;
}

hr {
    background-color: #ffb20c;
    border: none;
    margin-right: 200px;
    margin-bottom: 10px;
    height: 2px;
    width: 300px;
    border-radius: 30px;
}

.claro button {
    background-color: rgb(48, 138, 255);
    width: 400px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    transition: 0.3s ease;
}

button:hover {
    background-color: rgb(81, 156, 255);
    transition: 0.3s ease;
}

button :active {
    transform: scale(0.95);
}

.claro .l2 {
    font-size: 14px;
    color: black;
    margin-right: 2px;
    margin-left: 8px
}

.claro a {
    color: black;
    font-size: 14px
}

#a1 {
    margin-right: 170px;
}

a:hover {
    color: rgb(81, 156, 255);
    transition: .3s ease
}

.claro footer {
    background-color: #f7f7f7;
    /* Cor de fundo do footer em tema claro */
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

/* Media Queries */
/* Celulares*/
@media (max-width :600px) {}

/* Tablets*/
@media (min-width :601px) and (max-width :900px) {}

/* Desktops*/
@media (min-width :901px) {}